<DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
    <h1>Help page</h1>
    <p>This is where you can go for {{help}}</p>
    </body>
    </html></DOCTYPE
>
